# PandasChapter_02

In [1]:
import numpy as np
import pandas as pd
import dateutil
import os

In [2]:
data = pd.read_csv('D:\\myPythonProjects\\PandaSummarisingAggregatingGrouping\\phone_bill_NewCleanData.csv')

In [3]:
data.head()

,date,duration,item,month,network,network_type,old_dropped_index
0,15/10/14 06:58,34.429,data,2014-11,data,data,0
1,15/10/14 06:58,13.000,call,2014-11,Vodafone,mobile,1
2,15/10/14 14:46,23.000,call,2014-11,Meteor,mobile,2
3,15/10/14 14:48,4.000,call,2014-11,Tesco,mobile,3
4,15/10/14 17:27,4.000,call,2014-11,Tesco,mobile,4

In [4]:
"""
strings are coming as a object , thats ok for now.
But date is alsocoming as object . lets fix it.

"""
data.dtypes

date                  object
duration             float64
item                  object
month                 object
network               object
network_type          object
old_dropped_index      int64
dtype: object

In [5]:
data.shape

(825, 7)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 7 columns):
date                 825 non-null object
duration             825 non-null float64
item                 825 non-null object
month                825 non-null object
network              825 non-null object
network_type         825 non-null object
old_dropped_index    825 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 45.2+ KB

In [7]:
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

In [8]:
data.dtypes

date                 datetime64[ns]
duration                    float64
item                         object
month                        object
network                      object
network_type                 object
old_dropped_index             int64
dtype: object

In [9]:
data.head()

,date,duration,item,month,network,network_type,old_dropped_index
0,2014-10-15 06:58:00,34.429,data,2014-11,data,data,0
1,2014-10-15 06:58:00,13.000,call,2014-11,Vodafone,mobile,1
2,2014-10-15 14:46:00,23.000,call,2014-11,Meteor,mobile,2
3,2014-10-15 14:48:00,4.000,call,2014-11,Tesco,mobile,3
4,2014-10-15 17:27:00,4.000,call,2014-11,Tesco,mobile,4

In [10]:
data = data.drop('old_dropped_index', axis=1)   # this axis specify what to drop , where to go and search 
                                                # old_dropped_index . when you say axis = 1 mean go and check columns
                                                # when you say axis = 0 means move towards index.

In [11]:
data.head()

                 date  duration  item    month   network network_type
0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [12]:
# How many rows the dataset
data['item'].count()

825

In [13]:
# data.loc[-1]  # you cant use -i with loc when index is numeric
data.iloc[-1]

date            2015-03-14 00:16:00
duration                       24.5
item                            sms
month                       2015-03
network                       world
network_type                  world
Name: 824, dtype: object

In [14]:
# What was the longest phone call / data entry?
data['duration'].max()

10528.0

In [15]:
# How many seconds of phone calls are recorded in total?
data['duration'][data['item'] == 'call'].sum()

92307.0

In [16]:
# How many entries are there for each month?
data['month'].value_counts()

2014-11    229
2015-01    205
2014-12    153
2015-02    137
2015-03    101
Name: month, dtype: int64

In [17]:
# Number of non-null unique network entries
data['network'].nunique()

9

|       Function	    |               Description             | 
|-----------------------|---------------------------------------|
|       count           |     Number of non-null observations   |
|       sum             |     Sum of values                     | 
|       mean            |     Mean of values                    |
|       mad             |     Mean absolute deviation           |
|       median          |     Arithmetic median of values       |
|       min             |     Minimum                           |
|       max             |     Maximum                           |
|       mode            |     Mode                              |
|       abs             |     Absolute Value                    |
|       prod            |     Product of values                 |
|       std             |     Unbiased standard deviation       |
|       var             |     Unbiased variance                 |
|       sem             |     Unbiased standard error of the mean|
|       skew            |     Unbiased skewness (3rd moment)    |
|       kurt            |     Unbiased kurtosis (4th moment)    |
|       quantile        |     Sample quantile (value at %)      |
|       cumsum          |     Cumulative sum                    |
|       cumprod         |     Cumulative product                |
|       cummax          |     Cumulative maximum                |
|       cummin          |     Cumulative minimum                |

# groupby
What is groupby ?

In my sinple tearms , Groupping of your data is called groupby .

Example :

1. You groupby your data based on sex ( male or female) , so that you can perform certian other calculatons on it.
2. You groupby on month in this phone bill example to see monthly hnigs 
3. You have a database of students of school , you can group by it classes.



# groupby in Pandas
The groupby() function returns a GroupBy object, but essentially describes how the rows of the original data set has been split. the GroupBy object .groups variable is a dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group. For example:

In [18]:
data.groupby(['month'])

In [19]:
data.groupby(['month']).groups.keys()

dict_keys(['2014-11', '2014-12', '2015-01', '2015-02', '2015-03'])

In [20]:
data.groupby(['month']).groups['2014-11']

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            219, 220, 221, 222, 223, 224, 225, 226, 228, 229],
           dtype='int64', length=229)

In [21]:
len(data.groupby(['month']).groups['2014-11'])

229

In [22]:
# Get the first entry for each month
data.groupby('month').first()

                       date  duration  item   network network_type
month
2014-11 2014-10-15 06:58:00    34.429  data      data         data
2014-12 2014-11-13 06:58:00    34.429  data      data         data
2015-01 2014-12-13 06:58:00    34.429  data      data         data
2015-02 2015-01-13 06:58:00    34.429  data      data         data
2015-03 2015-02-12 20:15:00    69.000  call  landline     landline

In [23]:
# Get the sum of the durations per month
data.groupby('month')['duration'].sum()

month
2014-11    26605.012
2014-12    14592.441
2015-01    18223.299
2015-02    15522.299
2015-03    22773.941
Name: duration, dtype: float64

In [24]:
# Get the number of dates / entries in each month
data.groupby('month')['date'].count()

month
2014-11    229
2014-12    153
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [25]:
# What is the sum of durations, for calls only, to each network
data.groupby('network')['duration'].sum()

network
Meteor        7233.000
Tesco        13841.000
Three        36537.000
Vodafone     14769.000
data          5095.492
landline     18433.000
special          3.000
voicemail     1775.000
world           30.500
Name: duration, dtype: float64

In [26]:
data.groupby(['network','date'])['duration'].sum()

network    date
Meteor     2014-10-15 14:46:00     23.0
           2014-10-16 22:18:00      1.0
           2014-10-16 22:21:00      1.0
           2014-10-17 11:20:00      1.0
           2014-10-23 09:45:00    281.0
           2014-10-23 17:48:00    263.0
           2014-10-26 21:22:00     28.0
           2014-10-30 20:02:00      4.0
           2014-10-31 18:30:00    483.0
           2014-11-02 21:42:00    169.0
           2014-11-02 22:55:00      8.0
           2014-11-04 16:19:00      8.0
           2014-11-04 16:22:00      9.0
           2014-11-04 16:24:00      4.0
           2014-11-04 16:39:00      1.0
           2014-11-04 16:41:00      1.0
           2014-11-04 20:15:00      2.0
           2014-11-04 20:16:00    166.0
           2014-11-06 09:52:00     75.0
           2014-11-11 14:13:00      1.0
           2014-11-11 14:20:00      1.0
           2014-11-11 14:41:00      1.0
           2014-11-19 14:11:00    249.0
           2014-11-20 16:22:00      1.0
           2014-11-21 10:29:00      2.0
           2014-11-21 10:30:00      1.0
           2014-11-21 18:07:00    244.0
           2014-11-22 12:02:00     75.0
           2014-11-24 12:24:00      4.0
           2014-11-25 16:09:00      1.0
                                  ...
voicemail  2014-10-18 14:01:00     96.0
           2014-10-20 09:43:00     87.0
           2014-11-04 14:26:00     99.0
           2014-11-14 17:24:00    124.0
           2014-11-20 14:57:00     71.0
           2014-11-25 18:47:00    174.0
           2014-11-25 19:21:00     29.0
           2014-11-25 19:26:00     63.0
           2014-12-04 23:41:00     71.0
           2014-12-07 13:03:00     99.0
           2014-12-14 15:28:00     59.0
           2014-12-23 09:17:00    145.0
           2014-12-23 19:45:00     39.0
           2014-12-26 11:09:00    101.0
           2015-01-21 14:36:00     93.0
           2015-01-21 15:56:00     27.0
           2015-01-22 18:59:00     41.0
           2015-02-04 12:36:00     21.0
           2015-02-05 13:37:00     62.0
           2015-02-06 10:36:00     24.0
           2015-02-24 10:05:00    107.0
           2015-02-26 22:34:00     29.0
           2015-03-02 14:53:00      2.0
           2015-03-02 14:54:00     93.0
world      2014-12-06 18:27:00      1.0
           2014-12-06 18:28:00      1.0
           2014-12-07 23:22:00      2.0
           2015-03-13 00:38:00      1.0
           2015-03-14 00:13:00      1.0
           2015-03-14 00:16:00     24.5
Name: duration, Length: 751, dtype: float64

In [27]:
# What is the sum of durations, for calls only, to each network
data[data['item'] == 'call'].groupby('network')['duration'].sum()

network
Meteor        7200.0
Tesco        13828.0
Three        36450.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [28]:
# How many calls, sms, and data entries are in each month?

data.groupby(['month','item']).count()

              date  duration  network  network_type
month   item
2014-11 call   107       107      107           107
        data    28        28       28            28
        sms     94        94       94            94
2014-12 call    77        77       77            77
        data    29        29       29            29
        sms     47        47       47            47
2015-01 call    88        88       88            88
        data    31        31       31            31
        sms     86        86       86            86
2015-02 call    67        67       67            67
        data    31        31       31            31
        sms     39        39       39            39
2015-03 call    47        47       47            47
        data    29        29       29            29
        sms     25        25       25            25

In [29]:
# How many calls, texts, and data are sent per month, split by network_type?
data.groupby(['month', 'network_type'])['date'].count()

month    network_type
2014-11  data             28
         landline          5
         mobile          189
         special           1
         voicemail         6
2014-12  data             29
         landline          7
         mobile          105
         voicemail         8
         world             4
2015-01  data             31
         landline         11
         mobile          160
         voicemail         3
2015-02  data             31
         landline          8
         mobile           90
         special           2
         voicemail         6
2015-03  data             29
         landline         11
         mobile           54
         voicemail         4
         world             3
Name: date, dtype: int64

# Groupby output format â€“ Series or DataFrame?

rule of thumb, if you calculate more than one column of results, your result will be a Dataframe. For a single column of results, the agg function, by default, will produce a Series.
You can change this by selecting your operation column differently:

In [30]:
"""
data.groupby('month')['duration'].sum() # produces Pandas Series
data.groupby('month')[['duration']].sum() # Produces Pandas DataFrame
"""
print(" ")

In [31]:
type(data.groupby(['network','date'])['duration'].sum())

pandas.core.series.Series

In [32]:
type(data.groupby('month')['duration'].sum())

pandas.core.series.Series

In [57]:
type(data.groupby('month')[['duration']].sum())

pandas.core.frame.DataFrame